  <body id="page-top">


    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>The Hacking Project</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Pars en vacances avec tes potes et apprends à coder <strong>gratuitement</strong></p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a><br><br><br>
            <a style="border:1px white solid; background-color:rgba(255,255,255,0.9); padding:8px; border-radius:10px; text-decoration:none;"href="https://medium.com/@faou.jordane/5-bonnes-raisons-de-partir-en-vacances-avec-ses-potes-et-apprendre-%C3%A0-coder-gratuitement-e56c8434e469">On en parle sur médium</a>

          </div>

        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">C'est quoi, The Hacking Project ?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">The Hacking Project, c'est de l'amour, d'abord. Et du code. Beaucoup de code. Chaque jour, tu bosses avec ton groupe sur des projets de plus en plus fun.
              <br>Et attend, c'est <strong style="font-size:18px!important;"> totalement gratuit</strong> !</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="https://www.thehackingproject.org/">Le site de la formation</a>
          </div>
        </div>
      </div>
    </section>

    <section id="reasons">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">4 bonnes raisons pour s'inscrire ?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-angellist text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">T'es pépouze</h3>
              <p class="text-muted mb-0">Des copains, du code, de l'amusement. C'est tous les jours à T.H.P, et c'est vraiment bien. Bon on va pas te cacher que parfois, tu va ramer <3 </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-comments text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Une communauté de ouf</h3>
              <p class="text-muted mb-0">Tu va rencontrer du monde, en tant que moussaillon, et tu deviendras un vrai corsaire. A ce moment, tu aura toute la communauté T.H.P avec toi.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-file text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Un vrai pro du code...</h3>
              <p class="text-muted mb-0">... au bout de 3 mois tu seras. Et en plus tu fera des sites de dingue.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">Beaucoup, beaucoup de love.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contacte T.H.P.</h2>
            <hr class="my-4">
            <p class="mb-5">Maintenant que t'es bien renseigné et que tu as compris que ça allais être beaucoup de fun, tu peux nous renjoindre. Viens, on est bien.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 ml-auto text-center">
            <i class="fa fa-facebook fa-3x mb-3 sr-contact"></i>
            <p><a href="https://www.facebook.com/thehackingproject">Le facebook</a></p>
          </div>
          <div class="col-lg-3 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="#">bonjour@thehackingproject.org</a>
            </p>
          </div>
          <div class="col-lg-3 mr-auto text-center">
            <i class="fa fa-twitter fa-3x mb-3 sr-contact"></i>
            <p><a href="https://twitter.com/CoderThp">Twitteeeeer</a></p>
          </div>

        </div>
      </div>
    </section>



    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"4bac6b987ecde92b08917ef27","lid":"9fce0177d3"}) })</script>
